
<form asp-controller="Home" asp-action="Registration">
    <p>Movie Registration Form</p>

    <p>Movie Title</p>
    <input type="text" name="title" />

    <p>Movie Genre</p>
    <input type="text" name="genre" />

    <p>Movie Year</p>
    <input type="date" name="year" min="1880-01-01" max="` + today + `"/>

    <p>Actors</p>
    <input type="text" name="year" />

    <p>Directors</p>
    <input type="text" name="year" />

    <input type="submit" />
</form>
